<h1>Listing questions</h1>

<table>
  <tr>

      <%= form_for @category do |t| %>
        <%#= t.select :category_id,Category.all.collect{|p| [p.description,p.id]} %>
        <%= collection_select :category, :id, @categories, :id, :description %>
        <%= t.submit :filter %>  
      <% end %>

    <% if !@admin.nil? %>
      <th>Category</th>
    <% end %>

    <th>Question</th>

    <% if !@admin.nil? %>
      <th>Answer</th>
    <% end %>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    
    <% if admin? %>
          <td><%= question.category_id %></td>
    <% end %>

    <td><%= link_to question.question, question  %></td>

    

    
    

  </tr>
<% end %>
</table>

<br />

    <% if admin? %>
        <%= link_to 'New Question', new_question_path %>
    <% end %>

