<h1>Welcome to FaqU<%= (current_user) ? " , " + current_user.name : "" %><%= (admin) ? "(Admin)" : "" %></h1>
<% if (!current_user) %>
	<%= link_to "Login", "users/sign_in"  %></br>
	<%= link_to "Register", "users/sign_up" %></br>
<% else%>
	<%= link_to "Continue", "questions" %></br></br>
	<%= link_to "Logout", "users/sign_out" %></br></br>
<% end %>
